# =========================================
# Archivos generales / Sistema
# =========================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================================
# IDEs / Editores
# =========================================
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.xcworkspace/xcuserdata/

# =========================================
# Flutter / Dart
# =========================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# =========================================
# Android
# =========================================
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/app/build/

# =========================================
# iOS
# =========================================
**/ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Podfile.lock
# Xcode autogen
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/contents.xcworkspacedata

# =========================================
# macOS
# =========================================
macos/Podfile.lock
macos/Flutter/GeneratedPluginRegistrant.swift

# =========================================
# Windows
# =========================================
windows/flutter/generated_*
windows/flutter/generated_plugins.cmake

# =========================================
# Linux
# =========================================
linux/flutter/generated_*
linux/flutter/generated_plugins.cmake

# =========================================
# Dependencias opcionales
# =========================================
# Si NO quieres versionar dependencias exactas:
pubspec.lock
# (Si quieres fijar dependencias iguales para todos, quítalo del gitignore)